
/*======================
    404 page
=======================*/


.page_404{
    padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{
    width:100%;
}

.four_zero_four_bg{

 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }


 .four_zero_four_bg h1{
    font-size:80px;
 }

.four_zero_four_bg h3{
    font-size:80px;
}

.link_404{
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top:-50px;
}

.page_404 {
    margin: auto;
}
/*======================
    End of 404 page
=======================*/


/*======================
    503 Error design
=======================*/
* {
    margin: 0;
    padding: 0;
  }

.body {
    height: 100%;
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_fish_skin.png);
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 100%;
  }

  .maintenance {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .container {
    display: table;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    align-content: center;
    position: relative;
    box-sizing: border-box;
  }
  .container .what-is-up {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
  }
  .container .what-is-up .spinny-cogs {
    display: block;
    margin-bottom: 2rem;
  }

  @-webkit-keyframes fa-spin-one {
    0% {
      -webkit-transform: translateY(-2rem) rotate(0deg);
      transform: translateY(-2rem) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(-2rem) rotate(-359deg);
      transform: translateY(-2rem) rotate-(359deg);
    }
  }
  @keyframes fa-spin-one {
    0% {
      -webkit-transform: translateY(-2rem) rotate(0deg);
      transform: translateY(-2rem) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(-2rem) rotate(-359deg);
      transform: translateY(-2rem) rotate-(359deg);
    }
  }
  .fa-spin-one, .container .what-is-up .spinny-cogs .fa:nth-of-type(1) {
    -webkit-animation: fa-spin-one 1s infinite linear;
    animation: fa-spin-one 1s infinite linear;
  }

  @-webkit-keyframes fa-spin-two {
    0% {
      -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
      transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
      transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
    }
  }
  @keyframes fa-spin-two {
    0% {
      -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
      transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
      transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
    }
  }
  .fa-spin-two, .container .what-is-up .spinny-cogs .fa:nth-of-type(3) {
    -webkit-animation: fa-spin-two 2s infinite linear;
    animation: fa-spin-two 2s infinite linear;
  }

/*======================
    End of 503 design
=======================*/

/*======================
    Custom design
=======================*/
.navbar-nav .nav-item a:hover {
    background-color:  rgba(239, 59, 45, 0.5) !important;
    color: white !important;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-group .panel+.panel {
    margin-top: 5px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-primary {
    border-color: #337ab7 !important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#app {
    background-color: rgba(0,0,0,0.04);
}
/*======================
    End of custom design
=======================*/

/*======================
    Arrow up
=======================*/
#button {
    display: inline-block;
    background-color: #e6664d;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/*======================
    End of arrow up
=======================*/



